<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UserDatabaseConnectionString"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=bibliotekssytemLinnea_Schilstrom;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>